body{
  background-color: #dad8de
}

hr{

  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 3%

}

h1{
  color:grey;
font-family: cursive;
}

h3{
  color:grey;
  font-family: cursive;
}
